{% extends 'back.html.twig' %}

{% block title %}Ticket #{{ ticket.id }}{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0">
                <i class="bi bi-ticket-detailed me-2"></i>
                Ticket #{{ ticket.id }}
            </h2>
        </div>
        
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nom</dt>
                <dd class="col-sm-9">{{ ticket.Nom }}</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">{{ ticket.Email }}</dd>

                <dt class="col-sm-3">Prix</dt>
                <dd class="col-sm-9">{{ ticket.Prix }} €</dd>

                <dt class="col-sm-3">Date d'achat</dt>
                <dd class="col-sm-9">{{ ticket.PuchaseDate|date('d/m/Y H:i') }}</dd>

                <dt class="col-sm-3">Événement</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('app_event_show', {'id': ticket.event.id}) }}" class="text-decoration-none">
                        {{ ticket.event.Nom }}
                    </a>
                </dd>
            </dl>

            <div class="mt-4">
                <a href="{{ path('app_ticket_index') }}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left me-2"></i>Retour à la liste
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}